/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/*margenes y paddings*/
.form-process.css3-spinner::before {
	background-color: #FFF !important;
	opacity: 0.5 !important;
  }
  ::selection {
	  background: #A989B8;
	  color: #FFF;
	  text-shadow: none;
  }
  .invalid-feedback {
	display: block !important;
	text-align: right;
  }
  .m-none {
	  margin: none !important;
	}
	.mt-none{
	  margin-top: 0px !important;
	}
  
	.p-none {
	  padding: none !important;
	}
  
	.pt-none {
	  padding-top: none !important;
	}
  
	.pt-xlg {
	  padding-top: 100px !important;
	}
  
	.pt-lg {
	  padding-top: 75px !important;
	}
  
	.pt-md {
	  padding-top: 50px !important;
	}
  
	.pt-sm {
	  padding-top: 25px !important;
	}
	
	.pb-lg {
	  padding-bottom: 100px !important;
	}
	
	.pb-md {
	  padding-bottom: 50px !important;
	}
  
	.pb-none {
	  padding-bottom: none !important;
	}
  
	.p-sm {
	  padding: 10px !important;
	}
  
	.p-md {
	  padding: 30px !important;
	}
  
	.p-lg {
	  padding: 50px !important;
	}
	
	.pr-md {
	  padding-right: 50px !important;
	}
  
	.mt-xlg {
		margin-top: 100px !important;
	}
  
	.mt-lg {
		margin-top: 75px !important;
	}
  
	.mt-md {
		margin-top: 50px !important;
	}
  
	.mt-sm {
		margin-top: 25px !important;
	}
  
	.mb-xlg {
		margin-bottom: 100px !important;
	}
  
	.mb-lg {
		margin-bottom: 75px !important;
	}
  
	.mb-md {
		margin-bottom: 50px !important;
	}
  
	.mb-sm {
		margin-bottom: 25px !important;
	}	
	.mb-none {
	  margin-bottom: 0px !important;
  }
  
  .mr-sm {
	  margin-right: 8px !important;
  }
  
  .mr-md {
	  margin-right: 20px !important;
  }
  
  .ml-sm {
	  margin-left: 10px !important;
  }
  
  .ml-md {
	  margin-left: 35px !important;
  }
  
  
  /*margenes y paddings*/
  

.button.button-border:not(.button-fill):hover {
    background-color: #A989B8 !important;
}

.menu-item:hover > .menu-link {
    /* background-image: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
    background-image: linear-gradient(90deg, rgba(169,137,184,1) 0%, rgba(143,168,182,1) 50%, rgba(120,192,181,1) 100%)!important;
}
.gradient-joss{
	background-image: linear-gradient(90deg, rgba(169,137,184,1) 0%, rgba(143,168,182,1) 50%, rgba(120,192,181,1) 100%);
}

.titulo-slider{
	font-size: 4.5rem;
}

.btn-gradient{
	background-image: linear-gradient(90deg, rgba(169,137,184,1) 0%, rgba(143,168,182,1) 50%, rgba(120,192,181,1) 100%);
	}

label {
	color: #FFF;
	}

input {
		color: #FFF!important;
		}

textarea {
			color: #FFF!important;
			}

.btn-form{
		background-color: #78C6B5
	}

	.btn-form:hover{
		background-color: #4b9a89
	}

.ml-xs {
	margin-left: 0px;
}

.mobile {visibility:hidden !important;}

.desktop {visibility:visible !important;}

.float {
	transition: all ease-in-out 0.1s;
	transform: scale(1);
}

.float:hover {	
	background-color: #199045;
	transition: all ease-in-out 0.1s ;
	transform: scale(1.2);
}

  .stretched #gotoTop {
	right: 50px;
	bottom: 130px;
  }

  .img-wa {
	max-width:65% !important;
	margin-top: 11px;
  }

@media only screen and (max-width:960) {
	.mobile  {visibility:visible !important;}
	.desktop {visibility:hidden !important;}
}

@media only screen and (max-width: 768px) {
	.ml-xs {
		margin-left: 150px;
	}
  }